@font-face{
    src: url("/fonts/Rubik-Regular.ttf");
    font-family: "Rubik";
}
@font-face{
    src: url("/fonts/Caveat-VariableFont_wght.ttf");
    font-family: "Caveat";
}

@font-face{
    src: url("/fonts/Apple-SD-Gothic-Neo-Bold.ttf");
    font-family: "Apple";
}

.index-posts {
    margin: auto;
    max-width: 900px;
}

.index-post {
    background-color: #fff;
}
[data-darkmode=on]
.index-post {
    color: white;
    background-color: #1b1c1e;
}

[data-darkmode=on]
.index-tags span {
    color: #5097fd;
    padding: 5px 6px 5px 6px;
    background-color: #2f2f2f;
    border-radius: 6px;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

.index-tags span {
    color: #5097fd;
    padding: 5px 6px 5px 6px;
    background-color: #f0f0f0;
    border-radius: 6px;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

.index-title {
    padding: 30px 0px 20px 0px;
    font-size: 30px;
    font-weight: normal;
}

.index-context {
    line-height: 1.7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    margin-top: 1px;
    max-height: 80px;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-weight: lighter;
}

.index-date {
    font-size: 12px;
    color: #ccc;
    padding: 10px 0px 10px 0px;
}
.index-post {
    box-shadow: 0px 0px 10px #dfdfdf;
}
[data-darkmode=on]
.index-post {
    box-shadow: 0px 0px 30px #1b1c1e;
}

.index-post {
    max-width: 800px;
    padding: 35px 70px 35px 70px;
    border-radius: 16px;
    box-shadow: 1px 4px 30px rgba(225,228,230,0.3);
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
}

.index-post-right img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
}

.index-post-right {
    height: 200px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #eaeaea;
}

[data-darkmode=on]
@media ( max-width: 768px ) {
    .index-post-right {
        height: 200px;
        margin: auto;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0px 0px 10px #171717;
    }
}

/*// css 적용*/
[data-darkmode=on]
.index-post-right {
    box-shadow: 0px 0px 10px #171717;
    background: white;
}

.index-post-left {
    width: 540px;
    margin-right: 60px;
}

.index-post {
    text-decoration: none;
    color: #333;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}


.index-post-a:hover .index-post {
    -webkit-transform:scale(1.03);
    -moz-transform:scale(1.03);
    -ms-transform:scale(1.03);
    -o-transform:scale(1.03);
    transform:scale(1.03);
}

.index-post-a {
    text-decoration: none;
    color: #ccc;
}

[data-darkmode=on]
.index-post-a {
    text-decoration: none;
    color: #e8e8e8;
}

.index-nav {
    margin-top: 110px;
    text-align: center;
}

.index-nav a {
    text-decoration: none;
    color: black;
}

[data-darkmode=on]
.index-nav-title {
    color: white;
}

.index-nav-title {
    font-family: 'Apple';
    font-size: 45px;
}

.index-nav-intro {
    font-family: 'Caveat';
    font-size: 30px;
    color: #5097fd;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1.8px;
}

.index-nav-tags {
    margin-bottom: 50px;
}

.index-nav-tags a {
    text-decoration: none;
}

[data-darkmode=on]
.index-nav-tags span {
    background-color: rgb(47, 47, 47);
    color: rgba(255, 255, 255, 0.73);
}
.unselect-tag {
    background-color: rgba(0,0,0,0.08);
    box-shadow: 1px 4px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    margin: 3px 1px;
    padding: 10px 15px 10px 15px;
    color: rgba(0,0,0,0.4);
    white-space: nowrap;
    font-weight: 600;
    transition: all 0.2s;
    cursor: pointer;
    font-size: 13px;
}
.unselect-tag:hover {
    background-color: rgba(0,0,0,0.12);
}

.select-tag:hover {
    background-color: rgb(34, 99, 193);
}

.unselect-tag::before {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 13px;
    padding: 2px 6px 2px 2px;
    content: '\f292';
}

.select-tag {
    box-shadow: 1px 4px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    margin: 3px 1px;
    padding: 10px 15px 10px 15px;
    white-space: nowrap;
    font-weight: 600;
    transition: all 0.2s;
    cursor: pointer;
    font-size: 13px;
    background: #5097fd;
    color: white;
}
.select-tag::before {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 13px;
    padding: 2px 6px 2px 2px;
    content: '\f00c';
}



@media ( max-width: 768px ) {
    .index-nav-title {
        font-size: 35px;
    }
    .index-nav-intro {
        font-size: 25px;
    }
    .index-title {
        font-size: 20px;
    }
    .index-context {
        font-size: 13px;
    }
    .index-post {
        padding: 0px;
        display: block;
        overflow: hidden;
    }
    .index-post-right {
        width: auto;
        border-radius: 0px;
    }
    
    .index-post-right img {
        display: block;
        margin-top: 0rem;
        margin: auto;
        width: auto;
        height: 200px;
    }
    
    .index-post-left {
        margin: 0px;
        width: auto;
        padding: 20px;
    }
    .index-post-right {
        box-shadow: none;
    }
}



#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #5097fd;
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border-radius: 40px;
    font-size: 18px;
    width: 50px;
    height: 50px;
    line-height: 60px;
    text-decoration: none;
}

#myBtn img {
    width: 20px;
    margin-bottom: 7px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.index-nav-others {
    margin-top: 30px;
    margin-bottom: 30px;
}

[data-darkmode= on]
.index-nav-others {
    filter: invert(1);
}
.index-nav-others a {
    margin-right: 5px;
    margin-left: 5px;
}

.index-nav-others a img{
    width: 30px;
    display: inline-block;
}

.github {
    content: url("/images/github-light.svg")
}

.instagram {
    content: url("/images/instagram-light.svg")
}

.linkedin {
    content: url("/images/linkedin-light.svg")
}

.footer {
    max-width: 700px;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
    color: #555;
}

.before-blog {
    line-height: 3rem;
    margin-right: 1rem;
    line-height: 2.8rem;
    color: #5097fd;
    text-decoration: none;
    font-weight: bold;
}
