@font-face{
    src: url("/fonts/Caveat-VariableFont_wght.ttf");
    font-family: "Caveat";
}

@font-face{
    src: url("/fonts/Apple-SD-Gothic-Neo-Bold.ttf");
    font-family: "Apple";
}

.container {
    max-width: 700px;
    margin: auto;
    margin-top: 180px;
    padding: 0rem 3rem 0rem 3rem;
    margin-left: 10rem;
    margin-right: 0;
}

p {
    font-weight: 200;
    line-height: 30px;
    font-size: 1.1rem;
}

strong {
    font-weight: bold;
}

s {
    border-bottom: 1px solid #d6e7ff;
    box-shadow: inset 0 -12px 0 #d6e7ff;
    font-weight: bold;
    text-decoration: none;
}
[data-darkmode=on]
s {
    border-bottom: 1px solid #5097fd;
    box-shadow: inset 0 -12px 0 #5097fd;
}

h1 {
    font-size: 40px;
    margin-bottom: 1rem;
}

h2 {
    padding: 64px 0 6px 0;
    margin-bottom: 15px;
    line-height: 3rem;
    border-bottom: 1px solid #ddd;
    font-size: 1.75rem;
}

.date-tag {
    font-weight: lighter;
    font-size: 15px;
}

.oneline{
    font-family: 'Noto Serif KR', serif;
    font-size: 1.3rem;
    margin-bottom: 20px;
    margin-left: 5px;
}

blockquote {
    border-left: 1px solid #ddd;
    padding: 8px 16px;
    margin: 8px 0;
    font-style: italic;
}

img {
    width: 100%;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 1.75rem;
    font-weight: bold;
}
.logo a {
    color: #5097fd;
    text-decoration: none;
}

ul li {
    margin-bottom: 1rem;
}

ul li a {
    text-decoration: none;
    color: #5097fd;
}

.footer {
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    color: #555;
}

.index-nav-others {
    margin-top: 2rem;
}
[data-darkmode=on]
.index-nav-others {
    filter: invert(1);
}

.index-nav-others a {
    margin-right: 5px;
    margin-left: 5px;
}

a {
    color: #5097fd;
    text-decoration: none;
    font-weight: bold;
}

.index-nav-others a img{
    width: 30px;
    display: inline-block;
}

.github {
    content: url("/images/github-light.svg")
}

.instagram {
    content: url("/images/instagram-light.svg")
}

.linkedin {
    content: url("/images/linkedin-light.svg")
}

[data-darkmode=on]
.comment-dark-mode {
    display: block;
}
[data-darkmode=on]
.comment-light-mode {
    display: none;
}
.comment-dark-mode {
    display: none;
}
.comment-light-mode {
    display: block;
}

.side-contents{
    position: -webkit-sticky;
    position: sticky;
    height: fit-content;
    top: 10rem;
    margin-left: 0rem;
    padding-left: 10px;
}

.wrapper{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 7rem;
}

[data-darkmode=on]
.side-title {
    color: #bbb;
}

.side-title {
    font-family: "Apple";
    margin-bottom: 15px;
    color: #717171;
    margin-left: 10px;
}

.side-title::before {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 13px;
    padding: 2px 6px 2px 2px;
    content: '\f550';
}

.side-item:hover {
    color: #8bbaff;
}

[data-darkmode=on]
.side-item {
    color: #bbb;
}

.side-item {
    color: #aaa;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 10px;
}

.side-contents a {
    text-decoration: none;
}

.active div {
    border-left: 2px solid;
    color: #5097fd;;
    padding-left: 10px;
}

[data-darkmode=on]
.active div {
    border-left: 2px solid;
    color: #5e9fff;
    padding-left: 10px;
}

@media ( max-width: 768px ) {
    .logo {
        position: absolute;
        top: 25px;
        left: 20px;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .container {
        max-width: 90%;
        margin: auto;
        margin-top: 110px;
        padding: 0px;
    }
    
    .side-contents {
        display: none;
    }
    
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    p {
        font-size: 15px;
    }
}

.before-blog {
    line-height: 3rem;
    margin-right: 1rem;
    line-height: 2.8rem;
}


.footer a {
    color: #555;
    font-weight: normal;
}
